@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-inter: 'Inter', sans-serif;
    --font-playfair: 'Playfair Display', serif;
    --font-opensans: 'Open Sans', sans-serif;
}

html {
    font-family: var(--font-inter);
}

body {
    background-color: #F4E7D9;
}
/* .gradientBorder{
    border-image: linear-gradient(#D98DD6, #FCB38B66)10;
border-width: 2px;
border-style: solid;
border-radius: 20px;
} */

.multi-shadow {
    box-shadow: 
      inset 0px 0px 5px 0px #DC7372, /* First inner shadow */
      inset 0px 0px 4px 0px #F259D0, /* Second inner shadow */
      0px 0px 5px 0px #DC7372, /* First outer shadow */
      0px 0px 4px 0px #F259D0; /* Second outer shadow */
  }

  .gradientBorder {
    border: solid 2px transparent; /* Define border to apply gradient on */
    border-radius: 20px; /* Optional: if you want rounded corners */
    background-image: linear-gradient(to right, #D98DD6 0%, #D98DD6 40%, #FCB38B 40%, #FCB38B 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}